<div id="profile">
  <div class="container">
    <div class="d-flex justify-content-center">
      <figure>
        <% if @user.image? %>                                                              
          <%= image_tag @user.image.thumb.url %>
        <% else %>
          <img src="https://everydayicons.jp/wp/wp-content/themes/everydayicons/icons/thumbs/ei-person.png" width="200px" height="200px">
        <% end %> 　
        <figcaption class="text-center user_name"><%= @user.name %></figcaption>
      </figure>
    </div>
    
    <div class="d-flex justify-content-center">
      <%= render 'relationships/follow_button', user: @user %>
    </div>
    <div class="d-flex justify-content-end">
      <ul class="like1">
        <li><%= link_to 'フォロー一覧', followings_user_path(@user) %></li>
        <li><%= link_to 'お気に入り一覧', likes_user_path(@user) %></li>
      </ul>
    </div>
        
    <hr>
        
    <h2 class="text-center practice_time">練習時間</h2>
    <% if current_user == @user %>
      <div class="row">
        <div class="col-4 offset-sm-3 col-sm-3">
          <h2><span class="badge badge-info">今日</span></h2>
        </div>
        <div class="col-8 col-sm-3">
          <%= form_with(model: @practice, local: true) do |f| %>
            <div class="form-group row">
              <div class="col-6">
                <%= f.number_field :time, min: 1, max: 24, class: "d-inline" %>時間
              </div>
              <div class="col-6">
                <%= f.submit '登録', class: 'btn btn-primary btn-block w-auto' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    
    <div class="row">
      <div class="col-4 offset-sm-3 col-sm-3">
        <h2><span class="badge badge-info">合計</span></h2>
      </div>
      <div class="col-8 col-sm-3">
        <%= @user.practices.sum(:time) %>時間
      </div>
    </div>
    
      
    <% if current_user == @user %>
      <div class="d-flex justify-content-center toko">
        <%= link_to '投稿する', new_micropost_path, class: 'btn btn-lg btn-primary w-50' %>
      </div>
    <% end %>
        
    <h2 class="text-center current_microposts">最新の投稿</h2>
    
    <%= render 'microposts/microposts', microposts: @user.microposts %>
  
  </div>
</div>