<% if logged_in? %>
  
  <div class="text-center">
    <h1 class="title_name">Progress in Piano</h1>
  </div>
    
  <div class="container">
    <div class="row"> 
      <div class="col-md-3">
        <figure class="text-center">
          <figcaption class="text-start user_name2"><%= current_user.name %></figcaption>
          <% if current_user.image? %>                                                              
            <%= image_tag current_user.image.thumb.url %>
          <% else %>
            <img src="https://everydayicons.jp/wp/wp-content/themes/everydayicons/icons/thumbs/ei-person.png" alt="" width="200" height="200">
          <% end %>
        </figure>
      </div>
      <div class="col-md-9">
        <div class="d-flex justify-content-start">
          <ul class="like2">
            <li><%= link_to 'フォロー一覧', followings_user_path(current_user) %></li>
            <li><%= link_to 'お気に入り一覧', likes_user_path(current_user) %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
<% else %>
  <div class="text-center">
    <h1>Progress in Piano</h1>
    <div class="lead">
      <p>ピアノをもっと上手に弾きたいあなたへ。</p>
      <p>Progress in Pianoは、あなたのピアノの</p>
      <p>上達をサポートします。</p>
    </div>
    <div class="user-register">
      <%= link_to '新規登録', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
    <div class="user-login">
      <p><%= link_to 'ログイン', login_path %></p>
    </div>
  </div>
<% end %>

